<div>
  <svg
    id="customer-service"
    xmlns="http://www.w3.org/2000/svg"
    width="77.982"
    height="77.982"
    viewBox="0 0 77.982 77.982"
  >
    <g id="Group_43" data-name="Group 43" transform="translate(0.58 0)">
      <g id="Group_42" data-name="Group 42">
        <path
          id="Path_80"
          data-name="Path 80"
          d="M3.806,12.285a12.284,12.284,0,1,1,20.358,9.258.533.533,0,0,0,.079.861l2.315,1.37a.427.427,0,0,1-.218.8l-10.482,0A12.284,12.284,0,0,1,3.806,12.285Z"
          transform="translate(-3.806 0)"
          fill="#7acaa6"
        />
      </g>
    </g>
    <path
      id="Path_81"
      data-name="Path 81"
      d="M81.938,23.773,79.624,22.4a.532.532,0,0,1-.082-.858,12.284,12.284,0,0,0-7.7-21.54,12.38,12.38,0,0,0-2.7.216,12.281,12.281,0,0,1,7.4,19.6,2.653,2.653,0,0,0,.717,3.925l.048.029a.427.427,0,0,1-.2.794h4.623A.427.427,0,0,0,81.938,23.773Z"
      transform="translate(-58.608)"
      fill="#57be92"
    />
    <g id="Group_48" data-name="Group 48" transform="translate(17.919 0)">
      <g id="Group_45" data-name="Group 45" transform="translate(0 0)">
        <path
          id="Path_82"
          data-name="Path 82"
          d="M195.866,44.589H168a8.218,8.218,0,0,1-6.324-13.467l.247-.3a13.145,13.145,0,0,0,3.03-8.4V17.055a17.055,17.055,0,0,1,34.109,0V22.61a13.145,13.145,0,0,0,3.09,8.467A8.218,8.218,0,0,1,195.866,44.589Z"
          transform="translate(-153.351 0)"
          fill="#c59191"
        />
        <path
          id="Path_83"
          data-name="Path 83"
          d="M174.815,261.99v18.423H117.65V262.128a10.287,10.287,0,0,1,6.295-9.481l9.228-4.012,3.107-1.351a6.457,6.457,0,0,0,3.882-5.922V240.17H152.3V241.3a6.457,6.457,0,0,0,3.914,5.934l12.482,5.351A10.285,10.285,0,0,1,174.815,261.99Z"
          transform="translate(-117.65 -203.59)"
          fill="#fff"
        />
        <path
          id="Path_84"
          data-name="Path 84"
          d="M216.211,253.03a44.2,44.2,0,0,0,26.119-.245l1.5-3.583-4.582-1.964a6.457,6.457,0,0,1-3.913-5.935v-1.131H223.2v1.192a6.457,6.457,0,0,1-3.882,5.921l-3.711,1.614Z"
          transform="translate(-200.688 -203.592)"
          fill="#ffcebf"
        />
        <g id="Group_44" data-name="Group 44" transform="translate(0 44.966)">
          <path
            id="Path_85"
            data-name="Path 85"
            d="M400.457,299.256l-9.4-4.03h0v31.857h15.523V308.66A10.286,10.286,0,0,0,400.457,299.256Z"
            transform="translate(-349.411 -295.226)"
            fill="#8795de"
          />
          <path
            id="Path_86"
            data-name="Path 86"
            d="M133.173,295.75v31.778H117.65V309.243a10.287,10.287,0,0,1,6.295-9.481Z"
            transform="translate(-117.65 -295.67)"
            fill="#8795de"
          />
        </g>
      </g>
      <g id="Group_47" data-name="Group 47" transform="translate(11.603)">
        <path
          id="Path_87"
          data-name="Path 87"
          d="M272.594,246.835a10.208,10.208,0,0,0,3.94-.786,6.456,6.456,0,0,1-2.078-4.745v-1.131H262.317v1.192a6.445,6.445,0,0,1-.565,2.64,10.2,10.2,0,0,0,7.064,2.83h3.778Z"
          transform="translate(-251.407 -203.592)"
          fill="#ffb09e"
        />
        <path
          id="Path_88"
          data-name="Path 88"
          d="M249.924,83.208V93.249a10.242,10.242,0,0,1-10.242,10.242H235.9a10.242,10.242,0,0,1-10.242-10.242V83.208a6.663,6.663,0,0,1,6.663-6.663h10.936A6.663,6.663,0,0,1,249.924,83.208Z"
          transform="translate(-220.813 -64.887)"
          fill="#ffcebf"
        />
        <path
          id="Path_89"
          data-name="Path 89"
          d="M338.891,154.593c0,.014-.01.027-.014.041a10.807,10.807,0,0,1-3.69,5.5,10.321,10.321,0,0,1-3.707,1.811,1.159,1.159,0,1,0,.589,2.243,12.631,12.631,0,0,0,4.534-2.218,12.415,12.415,0,0,0,2.282-2.3c0-.09.007-.179.007-.27v-4.817Z"
          transform="translate(-309.78 -131.047)"
          fill="#7a6d79"
        />
        <path
          id="Path_90"
          data-name="Path 90"
          d="M300.367,199.015H297.65a2.239,2.239,0,0,1,0-4.478h2.717a2.239,2.239,0,0,1,0,4.478Z"
          transform="translate(-279.939 -164.907)"
          fill="#685e68"
        />
        <g id="Group_46" data-name="Group 46">
          <path
            id="Path_91"
            data-name="Path 91"
            d="M321.1,22.444c.26-3.281,3.4-5.458,6.407-6.586a17.045,17.045,0,0,1,8.3,14.639V31.67c-.275.058-.548.108-.819.149a13.808,13.808,0,0,1-4.03,0C324.756,30.991,320.79,26.406,321.1,22.444Z"
            transform="translate(-301.704 -13.443)"
            fill="#b98080"
          />
          <path
            id="Path_92"
            data-name="Path 92"
            d="M210.882,0a16.978,16.978,0,0,1,10.26,3.431,30.421,30.421,0,0,1-10.827,11.005,30.181,30.181,0,0,1-11.489,3.939h-5V17.054A17.054,17.054,0,0,1,210.882,0Z"
            transform="translate(-193.828)"
            fill="#c59191"
          />
        </g>
      </g>
    </g>
    <path
      id="Path_93"
      data-name="Path 93"
      d="M212.962,382.657H175.852L173.8,363.348a2.319,2.319,0,0,1,2.306-2.563H212.7a2.319,2.319,0,0,1,2.306,2.563Z"
      transform="translate(-147.322 -305.834)"
      fill="#efedef"
    />
    <path
      id="Path_94"
      data-name="Path 94"
      d="M403.463,360.785h-4.637a2.319,2.319,0,0,1,2.306,2.563l-2.047,19.309h4.637l2.047-19.309A2.318,2.318,0,0,0,403.463,360.785Z"
      transform="translate(-338.081 -305.834)"
      fill="#e5e1e5"
    />
    <g id="Group_49" data-name="Group 49" transform="translate(0 75.697)">
      <path
        id="Path_95"
        data-name="Path 95"
        d="M76.84,499.285H1.142a1.142,1.142,0,1,1,0-2.285h75.7a1.142,1.142,0,1,1,0,2.285Z"
        transform="translate(0 -497)"
        fill="#c9bfc8"
      />
    </g>
    <circle
      id="Ellipse_20"
      data-name="Ellipse 20"
      cx="3.246"
      cy="3.246"
      r="3.246"
      transform="translate(43.839 62.641)"
      fill="#c9bfc8"
    />
    <g id="Group_50" data-name="Group 50" transform="translate(7.068 11.125)">
      <ellipse id="Ellipse_21" data-name="Ellipse 21" cx="1.159" cy="1.159" rx="1.159" ry="1.159" fill="#fff" />
      <ellipse
        id="Ellipse_22"
        data-name="Ellipse 22"
        cx="1.159"
        cy="1.159"
        rx="1.159"
        ry="1.159"
        transform="translate(4.637)"
        fill="#fff"
      />
      <ellipse
        id="Ellipse_23"
        data-name="Ellipse 23"
        cx="1.159"
        cy="1.159"
        rx="1.159"
        ry="1.159"
        transform="translate(9.274)"
        fill="#fff"
      />
    </g>
  </svg>
</div>
